Source: pure-gplot
Section: devel
Priority: extra
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://purelang.bitbucket.org

Package: pure-gplot
Architecture: all
Depends: ${misc:Depends}, gnuplot, libpure8
Description: gnuplot interface for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides a module for interfacing to gnuplot
 in Pure.
