Source: pure-odbc
Section: devel
Priority: extra
Maintainer: Albert Graef <Dr.Graef@t-online.de>
Build-Depends: debhelper (>= 7.0.50~), pure-dev, libgmp3-dev, unixodbc-dev
Standards-Version: 3.9.1
Homepage: http://pure-lang.googlecode.com

Package: pure-odbc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ODBC interface for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides a module for accessing ODBC databases
 in Pure.
