<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_PureLoader">
  <information>
    <name>Pure plugin loader</name>
    <description>This plugin provides support for loading plugins written in the Pure programming language (http://pure-lang.googlecode.com).</description>
    <require_explicit_enabling/>
  </information>
  <loader type="Gnumeric_Builtin:module">
    <attribute value="pure_loader" name="module_file"/>
  </loader>
  <services>
    <service type="plugin_loader" id="pure"/>
    <service type="ui" id="pure" file="pure-ui.xml">
      <actions>
	<action name="PureStop" label="_Stop Data Sources" icon="gtk-stop">
	  <label>_Stop Data Sources</label>
	</action>
	<action name="PureReload" label="_Reload Pure Scripts" icon="gtk-refresh">
	  <label>_Reload Pure Scripts</label>
	</action>
	<action name="PureEdit" label="_Edit Pure Scripts" icon="gtk-edit">
	  <label>_Edit Pure Scripts</label>
	</action>
	<action name="PureMenu" label="Pure">
	  <label>Pure</label>
	</action>
      </actions>
    </service>
  </services>
</plugin>
