Source: pure-rational
Section: devel
Priority: extra
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://purelang.bitbucket.org

Package: pure-rational
Architecture: all
Depends: ${misc:Depends}, libpure8
Description: rational number library for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides a Pure port of Rob Hubbard's rational number
 library for the Q programming language. The port was done by Jiri Spitz.
 .
 The package contains rational.pure, a collection of utility functions for
 rational numbers, and rat_interval.pure, a module for doing interval
 arithmetic needed by rational.pure. These modules are designed to work with
 the math.pure module (part of the standard Pure library), which contains the
 definition of Pure's rational type and implements the basic rational
 arithmetic.
