Source: pure-octave
Section: devel
Priority: optional
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 9), pure-dev, liboctave-dev
Standards-Version: 3.9.8
Homepage: http://purelang.bitbucket.org

Package: pure-octave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, octave40
Description: Octave interface for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides an Octave module for Pure which is based on
 Paul Kienzle's octave_embed. It allows you to execute arbitrary Octave
 commands and functions from Pure, and the embedded Octave interpreter can
 call back into Pure as well.
