Source: libpure-pcre
Section: devel
Priority: extra
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, pkg-config, bison, flex, llvm-3.5-dev,
 libgmp-dev, libmpfr-dev, libreadline-dev, libpcre3-dev, emacs25-nox|emacs25|emacs24-nox|emacs24|emacs23-nox|emacs23|emacs
Standards-Version: 3.9.5
Homepage: https://agraef.github.io/pure-lang
#Vcs-Git: git://git.debian.org/collab-maint/pure.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pure.git;a=summary

Package: libpure8-pcre
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libpure8 (= ${binary:Version})
Conflicts: libpure8
Replaces: libpure8
Description: Functional programming language based on term rewriting - runtime
 Pure is a modern-style functional programming language based on term
 rewriting. It offers equational definitions with pattern matching, full
 symbolic rewriting capabilities, dynamic typing, eager and lazy evaluation,
 lexical closures, built-in list and matrix support and an easy-to-use C
 interface. The interpreter uses LLVM as a backend to JIT-compile Pure
 programs to fast native code.
 .
 This package contains the Pure runtime and the standard Pure library. It is
 needed for all Pure development.
 .
 NOTE: This is the pcre-enabled version of the package. You can use this as a
 drop-in replacement for the libpure package to get Perl regex support.
