Source: pure-liblo
Section: devel
Priority: extra
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), pure-dev, liblo-dev, pkg-config
Standards-Version: 3.9.1
Homepage: http://purelang.bitbucket.org

Package: pure-liblo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OSC interface for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides a Pure wrapper for the liblo library by
 Steve Harris and others, which implements Berkeley's Open Sound Control (OSC)
 protocol, see http://opensoundcontrol.org.
