<?xml version="1.0" encoding="UTF-8"?>
<!--
	Pure syntax highlighting for BBEdit and TextWrangler.
	Place in: ~/Library/Application Support/TextWrangler/Language Modules
	Create disrectory 'Language Modules' if it does not exist.

	This file is placed in the public domain. Use at your own risk.
-->
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BBEditDocumentType</key>
		<string>CodelessLanguageModule</string>
		
		<key>BBLMColorsSyntax</key>
		<true/>
		
		<key>BBLMIsCaseSensitive</key>
		<true/>
		
		<key>BBLMKeywordList</key>
		<array>
			<string>case</string>
			<string>const</string>
			<string>infix</string>
			<string>infixl</string>
			<string>infixr</string>
			<string>interface</string>
			<string>otherwise</string>
			<string>outfix</string>
			<string>using</string>
			<string>when</string>
			<string>def</string>
			<string>else</string>
			<string>end</string>
			<string>extern</string>
			<string>if</string>
			<string>infixr</string>
			<string>let</string>
			<string>namespace</string>
			<string>nonfix</string>
			<string>of</string>
			<string>postfix</string>
			<string>prefix</string>
			<string>private</string>
			<string>public</string>
			<string>then</string>
			<string>type</string>
			<string>with</string>
				
			<string>catch</string>
			<string>throw</string>
			<string>__break__</string>
			<string>__trace__</string>

			<string>int8</string>
			<string>int16</string>
			<string>int32</string>
			<string>int64</string>
			<string>char</string>
			<string>bool</string>
			<string>float</string>
			<string>int</string>
			<string>double</string>
			<string>expr</string>
			<string>short</string>
			<string>long</string>
			<string>void</string>
			<string>string</string>
			<string>pointer</string>
			<string>matrix</string>
			<string>dmatrix</string>
			<string>cmatrix</string>
			<string>imatrix</string>
			<string>smatrix</string>
			<string>nmatrix</string>
		</array>
		
		<key>BBLMLanguageCode</key>
		<string>pure</string>
		
		<key>BBLMLanguageDisplayName</key>
		<string>Pure</string>
		
		<key>BBLMScansFunctions</key>
		<true/>
		
		<key>BBLMSuffixMap</key>
		<array>
			<dict>
				<key>BBLMLanguageSuffix</key>
				<string>.pure</string>
			</dict>
		</array>

		<key>BBLMCanSpellCheckCodeRuns</key>
		<true/>
		
		<key>Language Features</key>
		<dict>
<!--
			<key>Function Pattern</key>
			<string>(?P<function_name>...)</string>
-->
			<key>Close Block Comments</key>
			<string>*/</string>
				
			<key>Close Parameter Lists</key>
			<string>(</string>
				
			<key>Close Statement Blocks</key>
			<string>end</string>
				
			<key>Close Strings 1</key>
			<string>"</string>
				
			<key>Close Strings 2</key>
			<string></string>
				
			<key>End-of-line Ends Strings 1</key>
			<true/>
				
			<key>End-of-line Ends Strings 2</key>
			<true/>
				
			<key>Escape Char in Strings 1</key>
			<string>\</string>
				
			<key>Escape Char in Strings 2</key>
			<string></string>

			<key>Identifier and Keyword Character Class</key>
			<string>0-9a-zA-Z_</string> <!-- Add Unicode as \x{20D0} -->
				
			<key>Open Block Comments</key>
			<string>/*</string>
				
			<key>Open Line Comments</key>
			<string>//</string>
				
			<key>Open Parameter Lists</key>
			<string>(</string>
				
			<key>Open Statement Blocks</key>
			<string>case|when|case</string>
				
			<key>Open Strings 1</key>
			<string>"</string>
				
			<key>Open Strings 2</key>
			<string></string>
				
			<key>Prefix for Functions</key>
			<string>let</string>
				
			<key>Prefix for Procedures</key>
			<string>def</string>
				
			<key>Terminator for Prototypes 1</key>
			<string></string>
				
			<key>Terminator for Prototypes 2</key>
			<string></string>
		</dict>
	</dict>
</plist>
