<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_@group_name@">
  <information>
    <name>@name@</name>
    <description>@description@</description>
    <require_explicit_enabling/>
  </information>
  <loader type="Gnumeric_PureLoader:pure">
    <attribute name="module_name" value="@module_name@"/>
  </loader>
  <services>
    <service type="function_group" id="@group_name@">
      <category>@category@</category>
      <functions>
@funcs@
      </functions>
    </service>
  </services>
</plugin>
