Source: pure-avahi
Section: devel
Priority: extra
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), pure-dev, libavahi-core-dev, libavahi-client-dev
Standards-Version: 3.9.1
Homepage: http://purelang.bitbucket.org

Package: pure-avahi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Avahi interface for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This module provides an interface to Avahi, a Zeroconf
 implementation for Linux and other Un*x systems. The module lets you publish
 and query Zeroconf network services using Avahi, allowing you to establish
 connections for various kinds of TCP and UDP network services without having
 to manually configure network addresses.
