<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_pure_glfunc">
  <information>
    <name>Pure OpenGL functions</name>
    <description>An example which illustrates how to use Pure/OpenGL functions in Gnumeric. Please note that this plugin requires that Gnumeric/Pure was built with OpenGL support and that you must also have Pure's OpenGL module installed.</description>
    <require_explicit_enabling/>
  </information>
  <loader type="Gnumeric_PureLoader:pure">
    <attribute name="module_name" value="pure_glfunc.pure"/>
  </loader>
  <services>
    <service type="function_group" id="pure_glfunc">
      <category>Pure</category>
      <functions>
	<function name="gltest"/>
      </functions>
    </service>
  </services>
</plugin>
