Source: pure-gen
Section: devel
Priority: extra
Maintainer: Albert Graef <Dr.Graef@t-online.de>
Build-Depends: debhelper (>= 7.0.50~), pure, llvm, ghc6, libghc6-language-c-dev
Standards-Version: 3.9.1
Homepage: http://pure-lang.googlecode.com

Package: pure-gen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc
Description: C bindings generator for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides the pure-gen utility which can generate
 Pure bindings for C functions from C header files.
