<?xml version="1.0" encoding="UTF-8"?>
<plugin id="Gnumeric_PureFunc">
  <information>
    <name>Pure functions</name>
    <description>Sample Pure plugin providing some examples which illustrate how to call Pure functions in Gnumeric.</description>
    <require_explicit_enabling/>
  </information>
  <loader type="Gnumeric_PureLoader:pure">
    <attribute value="pure_func" name="module_name"/>
  </loader>
  <services>
    <service type="function_group" id="pure_func">
      <category>Pure</category>
      <functions>
	<function name="pure_hello"/>
	<function name="pure_max"/>
	<function name="pure_sum"/>
	<function name="pure_sums"/>
	<function name="pure_echo"/>
	<function name="pure_eval"/>
	<function name="pure_shell"/>
	<function name="pure_calc"/>
	<function name="pure_counter"/>
	<function name="gnm_bitand"/>
	<function name="pure_cal"/>
	<function name="pure_objects"/>
      </functions>
    </service>
  </services>
</plugin>
