Source: pure-gtk
Section: devel
Priority: extra
Maintainer: Albert Graef <aggraef@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), pure-dev, pure-gen, libgtk2.0-dev
Standards-Version: 3.9.1
Homepage: http://purelang.bitbucket.org

Package: pure-gtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pure-ffi
Description: GTK+ interface for the Pure programming language
 Pure is a modern-style functional programming language based on term
 rewriting. This package provides the necessary modules for writing GTK+
 applications in Pure.
